mixin customerListCard(customer)
  div.row
    a(href=customer.url style='display:block;')
      div.col-xs-12.text-left.well
        div.row
          div.col-xs-3.col-sm-2
            img.icon-customer-list(src=(undefined===customer.profile_image ? '/images/default-profile.png' : customer.profile_image) alt='Customer Logo' width='75%')
          div.col-xs-9.col-sm-10
            p= customer.nickname
            p= customer.legal_name

mixin customerDetailCard(customer)
  div.row
    div.col-xs-12.text-left.well
      div.row
        div.col-xs-3.col-sm-2
          img.icon-customer-list(src=(undefined===customer.profile_image ? '/images/default-profile.png' : customer.profile_image) alt='Customer Logo' width='75%')
        div.col-xs-9.col-sm-10
          p= customer.nickname
          p= customer.legal_name
      hr
      div.row
        div.col-xs-3.col-sm-2
          img.icon-customer-list(src='/images/icon_mail.png' alt='Mail Logo' width='75%')
        div.col-xs-9.col-sm-10
          p= customer.address_line_1
          p= customer.address_line_2
      hr
      div.row
        div.col-xs-3.col-sm-2
          img.icon-customer-list(src='/images/icon_phone.png' alt='Phone Logo' width='75%')
        div.col-xs-9.col-sm-10
          if customer.contact_number
            p= customer.contact_number
          if customer.billing_number
            p= customer.billing_number
      hr
      div.row
        div.col-xs-3.col-sm-2
          img.icon-customer-list(src='/images/icon_email.png' alt='Email Logo' width='75%')
        div.col-xs-9.col-sm-10
          if customer.contact_email
            p= customer.contact_email
          if customer.billing_email
            p= customer.billing_email
            
mixin custCard(customer, float)
  a(href=customer.url style='display:block;')
    div.col-xs-12.col-md-5.text-center.well(style='background-color: rgb(145, 197, 211); color: white; float:' + float)
      div.row
        div.col-xs-12
          p
            b= customer.nickname
      div.row.text-left
        p= customer.legal_name
        p= customer.address_line_1
        p= customer.address_line_2
        if customer.contact_number
          p= customer.contact_number
        if customer.contact_email
          p= customer.contact_email
        if customer.billing_email
          p= customer.billing_email
          
//- Syntactical sugar to beautify nav links
mixin nav-item(link, name)
  li
    a(href= link)
      b #{name}
    
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(description= 'Carpet and base for your commercial space! BaseByDottie has highly experienced contractors who have done exceptional work for the Greater Seattle Area. Come check us out!')
    meta(author= 'Ryan Erickson (ryan@ryansip.com)')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.text-info.bg-tile
    div.bg-well(class='container well')
      //- NAVBAR
      nav.navbar.navbar-default
        div.container-fluid
          //- NAV-HEADER
          div.navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              b Base By Dottie
          //- NAV-BODY
          div#navbar.navbar-collapse.collapse
            ul(class='nav navbar-nav navbar-right')
              +nav-item('/invoicing', 'Invoicing')
              li.dropdown(role='presentation')
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button') 
                  b View
                    span.caret
                ul(class='dropdown-menu')
                  +nav-item('/invoicing/invoices', 'All invoices')
                  +nav-item('/invoicing/customers', 'All customers')
              li.dropdown(role='presentation')
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button')
                  b Create
                    span.caret
                ul(class='dropdown-menu')
                  +nav-item('/invoicing/invoice/create', 'New invoice')
                  +nav-item('/invoicing/customer/create', 'New customer') 
              +nav-item('/logout', 'Log out') 
      //- PAGE CONTENT
      block content
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
