extends layout

block content
  div(class='text-center')
    h1= title

    for business in business_list
      if business.nickname
        - var nameString= business.legal_name + ' ( ' + business.nickname + ' ) '
        p #[strong #{nameString}]
      else
        p= business.legal_name

      p= business.address_line_1
      p= business.address_line_2

      if business.contact_number
        p= business.contact_number

      //hr
