extends layout

mixin billable(div_id, isVisible)
  //- When isVisible===true, hidden=false else hidden='hidden'
  div(id=div_id hidden=(true===isVisible ? false : 'hidden'))
    div.form-group.col-xs-12.col-sm-6
      label(for= 'description') Description
      input.form-control(type= 'text' name= 'description' placeholder= 'Description')

    div.form-group.col-xs-4.col-sm-2
      label(for= 'quantity') Quantity
      input.form-control(type= 'number' name= 'quantity' placeholder= '120.0' min= '120' step='120' onchange="truncateAndUpdateTotal(this)")
    div.form-group.col-xs-4.col-sm-2
      label(for= 'unit_price') Unit Price
      input.form-control(type= 'number' name= 'unit_price' placeholder= '0.50' min= '0.5' step='0.05' onchange="truncateAndUpdateTotal(this)")
    div.form-group.col-xs-4.col-sm-2
      label(for= 'total_price') Total Price
      input.form-control(type= 'text' name= 'total_price' placeholder= '60.00' onchange="truncateAmount(this)" readonly)
    hr

block content
  script(src='/javascripts/invoice_form.js')

  h1.text-center #{title}

  form(action='' method='post' id="form_invoice")
    h3.text-center
      b Business Info
    
    //- Always enforce side by side Date/Business 
    div.row
      div.form-group.col-md-6
        label(for='invoice_date') Billing Date
        input#invoice_date.form-control(type='date', name='invoice_date' value=(undefined===invoice ? '' : invoice.invoice_date))
      div.form-group.col-md-6
        label(for='bill_to') Invoice to
        select#bill_to.form-control(type='select', name='bill_to')
          //- Did we get passed a list for the billing dropdowns?
          if business_list
            for business in business_list
              option(value= business.legal_name) #{business.legal_name}
          //- Default option to allow the user to create a business on the fly inside of invoices
          option(value='new' disabled) Need more? Create New Biz First!
    hr
      
    h3.text-center
      b Project Info
    
    //- Always enforce side by side Date/Number
    div.row
      div.form-group.col-xs-6
        label(for='project_date') Project Date
        input#project_date.form-control(type='date', name='project_date' value=(undefined===invoice ? '' : invoice.project_date))
              
      div.form-group.col-xs-6
        label(for='project_number') Project Number
        input#project_number.form-control(type='text', placeholder='Project Number', name='project_number' value=(undefined===invoice ? '' : invoice.project_number))

    div.form-group
      label(for='project_name') Project Name
      input#project_name.form-control(type='text', placeholder='Project Name', name='project_name' value=(undefined===invoice ? '' : invoice.project_name))

    //- Project Address
    div.row
      div.form-group.col-xs-12
        label(for='project_street') Street Address
        input#project_street.form-control(type='text', placeholder='Street Address', name='project_street' value=(undefined===invoice ? '' : invoice.project_street))
              
    div.row       
      div.form-group.col-xs-5
        label(for='project_city') City
        input#project_city.form-control(type='text', placeholder='City', name='project_city' value=(undefined===invoice ? '' : invoice.project_city)) 
      div.form-group.col-xs-3
        label(for='project_state') State
        input#project_state.form-control(type='text', placeholder='State', name='project_state' value=(undefined===invoice ? '' : invoice.project_state))
      div.form-group.col-xs-4
        label(for='project_zip') Zip
        input#project_zip.form-control(type='number', placeholder='Zip Code', name='project_zip' value=(undefined===invoice ? '' : invoice.project_zip))
    hr

    div.row
      h3.text-center
        b Billing Items
      //- The billing items section currently supports 5 items via a hide/show mechanic  
      - var i = 0;
      while i < 5
        if i == 0
          +billable('billable_' + i++, true)
        else
          +billable('billable_' + i++, false)
    div.text-center
      button.btn.btn-primary.btn-half-width(type='button' onClick='showNextBillable()') More Work

    hr

    div.form-group
      label(for='notes') Notes
      input#notes.form-control(type='text', placeholder='Notes', name='notes' value=(undefined===invoice ? '' : invoice.notes))


    div.text-center
      button.btn.btn-primary.btn-full-width(type='button' onClick='validateForm()') Submit

    //- Hidden POST variables
    input#invoice_total.form-control(type='hidden', name='invoice_total', value=(undefined===invoice ? 0 : invoice.invoice_total))

    if errors
      ul
        for error in errors
          li!= error.msg
