extends app_layout

block content
  div.container-fluid(class='text-center')
    h1 #{title}
    p= 'Hey Dottie, I hope youre having a base-tastic day!'

    h3 Invoice metrics

    if error
      p Error retrieving invoice metrics
    else
      p Here is where your business is at:
      div.row
        div.col-xs-4
          p #[strong Customers:] !{data.customer_count}
        div.col-xs-4
          p #[strong Invoices:] !{data.invoice_count}
        div.col-xs-4
          p #[strong $ Billed:] !{data.total_billed}

    h3= 'Job Maps'
    div.row
        div.col-xs-12
            a(href='/images/map_main.png' alt='Add a map image to /images/map_main.png')
                img(src='/images/map_main.png' alt='Add a map image to /images/map_main.png' style='width: 100%')
            p #[strong Washington]

    div.row
        div.col-xs-6
            a(href='/images/map_left.png' alt='Add a map image to /images/map_left.png')
                img(src='/images/map_left.png' alt='Add a map image to /images/map_left.png' style='width: 100%')
            p #[strong Seattle]
        div.col-xs-6
            a(href='/images/map_right.png' alt='Add a map image to /images/map_right.png')
                img(src='/images/map_right.png' alt='Add a map image to /images/map_right.png' style='width: 100%')
            p #[strong Bellevue]

        //-div#map(style='height: 512px;')
        //-script(src='/javascripts/invoice_map.js')
        //-script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCDf2tO99E7SkSIlFDBFOkfnF5ncp1dcMQ&callback=initMap' async defer)
