// This page is adapted from Christos Georgiou's work located at: https://codepen.io/ChristosGeorgiou/pen/WrwxgM
//- Potentially use 3.3.5 vs 3.3.7: maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css

mixin billable_row(billable_item)
  tr
    td= billable_item.description
    td.text-center
      span.mono= billable_item.quantity.toFixed(2)
    td.text-center
      span.mono= billable_item.unit_price.toFixed(2)
    td.text-center
      span.mono= billable_item.total_price.toFixed(2)

mixin admin_bar(isVisible)
  div.container-fluid.well(style='background-color: skyblue;' hidden=(true===isVisible ? false : 'hidden'))
    div.row.text-center
      //- Download
      div.col-xs-4
        p
          b='Download'
        a(href='/invoicing/Invoice' + invoice.invoice_number + '.pdf')
          button.btn.btn-primary(type='button')= 'Invoice' + invoice.invoice_number + '.pdf'
      
      //- Print
      div.col-xs-4
        p
          b='Print'
      
      //- Send
      div.col-xs-4  
        p
          b='Email'
        input(type='text' value= (undefined === invoice.billing_to.billing_email ? '' : invoice.billing_to.billing_email))
        button.btn.btn-primary(type='button')='Send'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/invoice-style.css')

  body
    +admin_bar(toolbar_visible)
            
    div.container.invoice
      div.invoice-header
        div.row
          div.col-xs-7
            h1 Invoice
            h4.text-muted= 'NO: ' + invoice.invoice_number + ' | Date: ' + invoice.invoice_date_formatted
          
          //- User Logo
          div.col-xs-2.text-right
            img.logo(src='/images/dots-circle.png' alt='Base By Dottie Logo')

          div.col-xs-3
            //- User Billing Details
            ul.list-unstyled
              li 
                b= invoice.billing_from.legal_name
              li= invoice.billing_from.description
              li= invoice.billing_from.address_line_1
              li= invoice.billing_from.address_line_2
          //- The following setup does not allow the image to print due to the
          //- browsers handling of the media css class
          //- div.col-xs-4
          //-   div.media
          //-     div.media-left
          //-       img.media-object.logo(src='/images/tile.jpg' alt='Base By Dottie Logo')
          //- 
          //-     //- Company-From Logo
          //-     ul.media-body.list-unstyled
          //-       li 
          //-         b= invoice.billing_from.legal_name
          //-       li= invoice.billing_from.description
          //-       li= invoice.billing_from.address_line_1
          //-       li= invoice.billing_from.address_line_2

                
      div.invoice-body
        div.row
          div.col-xs-6
            div.panel.panel-default
              div.panel-heading
                h3.panel-title= 'Customer Details'
              div.panel-body
                dl.dl-horizontal
                  dt= 'Name'
                  dd
                    b= invoice.billing_to.legal_name

                  dt= 'Address'
                  dd= invoice.billing_to.address_line_1
                  dd= invoice.billing_to.address_line_2

                  if invoice.billing_to.contact_number
                    dt= 'Phone'
                    dd= invoice.billing_to.contact_number
                  else
                    br

                  if invoice.billing_to.email
                    dt= 'Email'
                    dd= invoice.billing_to.email
                  else
                    br

          div.col-xs-6
            div.panel.panel-default
              div.panel-heading
                h3.panel-title= 'Project Details'
              div.panel-body
                dl.dl-horizontal        
                  dt= 'Name'
                  dd= invoice.project_name
                  
                  dt= 'Address'
                  dd= invoice.project_address_line_1
                  dd= invoice.project_address_line_2
                  
                  dt= 'Job NO.'
                  dd= invoice.project_number

                  dt= 'Completed'
                  dd= invoice.project_date_formatted

        div.panel.panel-default
          div.panel-heading
            h3.panel-title= 'Services'

          table.table.table-bordered.table-condensed
            thead
              tr
                th= 'Item/Details'
                th.text-center.colfix= 'QTY'
                th.text-center.colfix= 'Unit Cost'
                th.text-center.colfix= 'Total Cost'
            tbody
              for billable in invoice.billables
                +billable_row(billable)

        div.panel.panel-default
          table.table.table-bordered.table-condensed
            thead
              tr
                td.text-center.col-xs-1= 'Total Cost'
            tbody
              tr
                th.text-center.rowtotal.mono= '$' + invoice.invoice_total

        div.row
          div.col-xs-7
            div.panel.panel-default
              div.panel-body
                i= 'Comments / Notes'
                hr(style='margin: 3px 0 5px')
                if invoice.notes
                  p= invoice.notes.slice(0, 44)
                  p= invoice.notes.slice(45, 89)
                  p= invoice.notes.slice(90, 134)

          div.col-xs-5.text-center
            div.panel.panel-default
              div.panel-heading
                h3.panel-title= 'Questions? Contact me!'
              div.panel-body
                p
                  b Dottie Gibbs
                p= '(425) 229-2480'
                p= 'dottie@basebydottie.com'

      div.invoice-footer
        p= 'Please make all checks payable to Base By Dottie LLC.'
        p= 'Thank you for your business!'
